#pane1{
	-fx-background-color:rgb(188,231,255);	
}

#pane2{
	-fx-background-color:rgb(199,235,255);	
}

#pane8{
	-fx-background-color:rgb(199,235,255);		
}


#pane3{
	-fx-background-color:rgb(199,235,255);		
}

#pane9{
	-fx-background-color:rgb(199,235,255);	
}


#pane15{
	-fx-background-color:rgb(199,235,255);		
}

#pane4{
	-fx-background-color:rgb(210,239,255);		
}

#pane10{
	-fx-background-color:rgb(210,239,255);
}

#pane16{
	-fx-background-color:rgb(210,239,255);	
}

#pane22{
	-fx-background-color:rgb(210,239,255);	
}

#pane5{
	-fx-background-color:rgb(210,239,255);	
}

#pane11{
	-fx-background-color:rgb(210,239,255);
}

#pane17{
	-fx-background-color:rgb(210,239,255);	
}

#pane23{
	-fx-background-color:rgb(210,239,255);	
}

#pane29{
	-fx-background-color:rgb(210,239,255);	
}








#pane6{
	-fx-background-color:rgb(221,243,255);	
}

#pane12{
	-fx-background-color:rgb(221,243,255);	
}

#pane18{
	-fx-background-color:rgb(221,243,255);	
}

#pane24{
	-fx-background-color:rgb(221,243,255);
}

#pane30{
	-fx-background-color:rgb(221,243,255);	
}

#pane7{
	-fx-background-color:rgb(221,243,255);	
}

#pane13{
	-fx-background-color:rgb(221,243,255);	
}

#pane19{
	-fx-background-color:rgb(221,243,255);		
}

#pane25{
	-fx-background-color:rgb(221,243,255);		
}

#pane31{
	-fx-background-color:rgb(221,243,255);	
}

#pane14{
	-fx-background-color:rgb(232,247,255);	
}

#pane20{
	-fx-background-color:rgb(232,247,255);	
}

#pane26{
	-fx-background-color:rgb(232,247,255);	
}

#pane32{
	-fx-background-color:rgb(232,247,255);	
}

#pane21{
	-fx-background-color:rgb(242,250,255);	
}

#pane27{
	-fx-background-color:rgb(242,250,255);		
}

#pane33{
	-fx-background-color:rgb(242,250,255);		
}

#pane28{
	-fx-background-color:rgb(249,253,255);		
}

#pane34{
	-fx-background-color:rgb(249,253,255);		
}

#pane35{
	-fx-background-color:#ffffff;	
}


